h1{ 
    color: red; 
    font-size : 200px; 
}

img:hover {
    background-color: gold;
}


/*****************************CLASS SELECTORS******************************/

.bacon {
    background-color: green;
}
.broccoli {
    background-color: red;
}
.circular {
    border-radius: 100%;
}

/*****ID SELECTORS******/

#heading {
    color: blue;
}
/*
div {
    width: 200px;
    height: 200px;
    background-color: gold;
    font-family: sans-serif;
    color: hotpink;
    text-transform: uppercase;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
*/